.modal {
    z-index: 500;
    background-color: darkslateblue;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
    transform: translate3d(-50%, -50%, 0);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 3000px) {
    .modal {
        width: 900px;
        height: 700px;
        overflow: scroll;
    }
}

@media (min-height: 700px) {
    .modal {
        position: fixed;
        left: 12%;
        right: 12%;
        top: 10%;
        height: 1000px;
        overflow: scroll;
    }
}