.Button {
    height: 40px;
}

.halfButton {
    background-image: radial-gradient(black, indigo);
    border-color: black;
    color: plum;
    text-shadow: 1.5px 1.5px black;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    text-align: center;
    align-content: center;
    display: block;
    float: top;
    margin-bottom: 3px;
}

.halfButton:hover {
    background-image: radial-gradient(teal, indigo);
    border-color: purple;
    color: goldenrod;
}

.minusButton {
    background-image: radial-gradient(black, darkslateblue);
    border-color: black;
    color: plum;
    text-shadow: 1.5px 1.5px black;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    text-align: center;
    align-content: center;
    display: block;
    float: left;
}

.minusButton:hover {
    background-image: radial-gradient(black, maroon);
    border-color: red;
    color: red;
    text-shadow: 0px 0px black;
}

.minusButton:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.minusButton:disabled:hover {
    background-image: radial-gradient(black, darkslateblue);
    border-color: black;
    color: plum;
    text-shadow: 1.5px 1.5px black;
}

.plusButton {
    background-image: radial-gradient(black, darkslateblue);
    border-color: black;
    color: plum;
    text-shadow: 1.5px 1.5px black;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    text-align: center;
    align-content: center;
    display: block;
}

.plusButton:hover {
    background-image: radial-gradient(black, forestgreen);
    border-color: springgreen;
    color: springgreen;
    text-shadow: 0px 0px black;
}

.plusButton:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.plusButton:disabled:hover {
    background-image: radial-gradient(black, darkslateblue);
    border-color: black;
    color: plum;
    text-shadow: 1.5px 1.5px black;
}

.pointCounterButton {
    display: block;
    width: 100%;
    border: 1px;
    border-color: goldenrod;
    border-style: groove;
    background-image: radial-gradient(teal, indigo);
    color: goldenrod;
    text-shadow: 1px 1px 1px black;
    height: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pointCounterButton:hover span {
    display: none;
}

.pointCounterButton:hover {
    background-image: radial-gradient(black, indigo);
    border-color: goldenrod;
}

.pointCounterButton:hover::before {
    content: "Clear Count";
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newGameButton {
    background-color: black;
    border-color: rgb(85, 72, 0);
    color: goldenrod;
    width: 250px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newGameButton:hover {
    background-image: radial-gradient(black, darkgoldenrod);
    border-color: gold;
    color: gold;
}

.newGameButton:disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

.newGameButton:disabled:hover {
    background-image: radial-gradient(black, black);
    border-color: rgb(85, 72, 0);
    color: goldenrod;
}

.resetButton {
    background-color: black;
    border-color: darkred;
    color: darkred;
    width: 50px;
    height: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resetButton:hover {
    background-image: radial-gradient(black, red);
    border-color: red;
    color: red;
}