.nameplate {
    display: inline-block;
    width: 100%;
    border: 1px outset goldenrod;
    margin: 3px;
    font-size: 18px;
    color: antiquewhite;
    background: rgb(24, 24, 24);
    text-align: center;
}

.nameplate:hover {
    border-color: rgb(255, 239, 145);
    border-style: inset;
}