.pointCounterValueButtons {
    display: flex;
    background-color: transparent;
}

.tensCounters {
    align-content: flex-start;
    width: 100%;
}

.fivesCounters {
    align-content: flex-end;
    width: 100%;
}