.Nameplate {
    text-align: center;
    min-height: 100px;
    width: 500px;
    background-color: black;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: brown;
    font: italic;
    border-color: brown;
}